.feedback {
  background: linear-gradient(139deg, $color-cerulean 33%, $color-deep-sky-blue 33%);

  @include vp-1023 {
    background: $color-deep-sky-blue;
  }
}

.feedback__container {
  position: relative;
  display: flex;
  padding-top: 164px;
  padding-bottom: 250px;
  gap: 115px;
  color: $color-default-white;

  @include vp-1439 {
    padding-top: 164px;
    padding-bottom: 250px;
  }

  @include vp-1023 {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 125px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 89px;
  }
}

.feedback__heading {
  margin: 0;
  margin-bottom: 11px;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__subheading {
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 24px;
  }

  @include vp-767 {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__image {
  margin-top: 81px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form {
  @include vp-1023 {
    width: 100%;
  }
}
