.heading {
  margin: 0;
  font-family: $ff-secondary;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.heading--footer {
  position: relative;
  margin-bottom: 20px;
  padding-top: 8px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-1023 {
    padding-top: 0;
  }
}

.heading--close {
  @include vp-767 {
    &::before {
      transform: rotate(0deg);
    }
  }
}

.heading--showmobile {
  display: none;

  @include vp-767 {
    display: block;
    padding-right: 20px;
    font-size: 28px;
    line-height: 40px;
  }
}

.heading--showtablet {
  display: block;

  @include vp-767 {
    display: none;
  }
}
