.logo {
  margin-top: 5px;
  margin-right: 160px;

  @include vp-767 {
    margin-right: 0;
  }
}

.logo__icon {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.logo__icon--showtablet {
  display: block;

  @include vp-767 {
    display: none;
  }
}
