.logo {
  margin-top: 8px;
  align-self: flex-start;
  margin-right: 46px;

  @include vp-767 {
    margin-right: 0;
  }
}

.logo--footer {
  margin-top: 0;
  margin-bottom: 31px;

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.logo__icon {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.logo__icon--showtablet {
  display: block;

  @include vp-767 {
    display: none;
  }
}

.logo__icon--footer {
  display: block;
}
