.navigation {
  margin-right: 28px;
  overflow: hidden;

  @include vp-767 {
    margin-right: 0;
  }
}

.navigation__list {
  display: grid;
  max-width: 530px;
  grid-template-columns: minmax(min-content, 220px) minmax(min-content, 220px);
  grid-template-rows: repeat(4, min-content);
  grid-auto-flow: column;
  gap: 8px 40px;

  @include vp-767 {
    padding-right: 0;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    max-height: 100%;
    padding-right: 50px;
  }
}
