.services {
  padding: 65px 0 140px;
  background-color: $color-black-pearl;

  @include vp-1439 {
    padding: 65px 20px 140px;
  }

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 86px;
  }
}

.services__container {
  @include vp-1023 {
    padding: 0 30px;
  }

  @include vp-767 {
    padding: 0 5px;
  }
}

.services h2 {
  color: $color-default-white;
  margin-bottom: 54px;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }
}

.services__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  gap: 85px;
  flex-wrap: wrap;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.services__item {
  flex: 1 1 0;
}

.services__link {
  position: relative;
  display: block;
  max-width: 650px;
  width: 100%;
  min-height: 650px;
  padding: 47px 40px 47px;
  transition: outline $trans-default;
  z-index: 0;
  overflow: hidden;

  @include vp-1439 {
    min-width: auto;
  }

  @include vp-1023 {
    margin: 0 auto;
    min-height: 250px;
    max-width: 670px;
    padding: 37px 45px 37px;
  }

  @include vp-767 {
    max-width: 607px;
    width: 100%;
    padding: 26px 30px 26px;
  }
}

.services__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(4, 24, 39, 0.5);
}

.services__image {
  position: absolute;
  max-width: 1494px;
  top: -116px;
  left: -188px;
  z-index: -2;
  mix-blend-mode: overlay;

  @include vp-1023 {
    left: -246px;
    top: -550px;
  }

  @include vp-767 {
    left: -376px;
    top: -299px;
  }
}

.services__item:nth-child(2n) {
  & .services__image {
    top: -121px;
    left: -533px;

    @include vp-1023 {
      left: -628px;
      top: -314px;
    }

    @include vp-767 {
      left: -365px;
      top: -537px;
    }
  }
}

.services__item:nth-child(3n) .services__image {
  top: -111px;
  left: -894px;

  @include vp-1023 {
    left: -148px;
    top: -359px;
  }

  @include vp-767 {
    left: -884px;
    top: -394px;
  }
}

.services__subheading {
  max-width: 170px;
  margin: 0;

  @include fonts($ff-secondary, 20px, 30px, 400, $color-default-white);

  @include vp-1023 {
    max-width: 150px;
  }

  @include vp-767 {
    max-width: 135px;
    font-size: 18px;
    line-height: 30px;
  }
}

.services__button {
  position: absolute;
  display: flex;
  padding: 0;
  padding-left: 4px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-top-left-radius: 3px;
  background-color: $color-deep-sky-blue;
  cursor: pointer;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}

.services__button svg {
  transition: $trans-default;
  fill: transparent;
}

@media (hover: hover) {
  .services__link:hover {
    outline: 1px solid $color-deep-sky-blue;
  }

  .services__button:hover svg {
    transform: scale(1.5);
  }
}
