.social__list {
  display: flex;
  padding-left: 10px;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  @include vp-1023 {
    padding-top: 5px;
    padding-left: 0;
    margin-right: -5px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social__icon {
  fill: $color-alice-blue-social;
  transition: fill $trans-default;
}

@media (hover: hover) {
  .social__icon:hover {
    fill: $color-deep-sky-blue;
  }
}
